# Precompiled Headers
*.gch
*.pch

# Executables
*.exe
*.out
*.app

# Test video
*.mp4

build/
temp/
Debug/
Thumbs.db

# Visual Studio
.vs/
.vscode/
CMakeSettings.json

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

*.iobj
*.ipdb
*.pdb
*.db
log.txt